<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/main.css">
  <link rel="stylesheet" href="/public/signup.css">
</head>
<body>
  <div class="container">
    <%- include('partial/errors') %>
    <%- include('partial/successes') %>
    <div class="formSpacer">
      
  <form class="formContainer" action="/log-in" method="POST">
    <h1>Log in</h1>
    <label for="email">Username</label>
    <input id="email" name="email" placeholder="email" type="email" value="effole.megumin@gmail.com" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" placeholder="Enter Password" value="261793Ab" />
    <p>Don't have an account? <a href="/sign-up">Sign-up</a></p>
    <button class="signupButton">Log in</button>
  </form>
</div>
</div>
</body>
</html>
